<!doctype html>
<html lang="pl">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Walentynki</title>
        {% endblock %}
        <link href="{{url_for('static',filename='css/design.css')}}" rel="stylesheet">
    </head>
    <body>
        <!-- Your page content -->
        {% block content %}{% endblock %}


        {% block content2 %}{% endblock %}
        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>