{% extends "base.html" %}
{% block head %}
<link href="{{url_for('static',filename='css/design_animation.css')}}" rel="stylesheet">
<script>
function openNav() {
    let panel = document.getElementById("mySidepanel");
    panel.style.display = "block";

    setTimeout(() => {
        panel.style.width = "100%";
        panel.style.opacity = "1";   // Show panel
    }, 10); // latency
}

function closeNav() {
    let panel = document.getElementById("mySidepanel");
    panel.style.width = "0";        // hiding panel
    panel.style.opacity = "0";      // lowering opacity

    setTimeout(() => {
        panel.style.display = "none";
    }, 2000);
  }

document.addEventListener("click", myFunction);
function showMessage() {
  let panel = document.getElementById("love-card");
  setTimeout(() => {
        panel.style.opacity = "1";   // Show panel
    }, 2000); // latency


    // Flask email
    fetch("{{ url_for('message') }}", { method: "POST" })
    .then(response => console.log("Email request sent"))
    .catch(error => console.error("Error:", error));
}

</script>
{% endblock %}
{% block title %}Deser{% endblock %}

{% block content %}
<div id="mySidepanel" class="sidepanel">
  <h1> No to ostatnia prosta! Możesz chwilę odpocząć albo sprawdzić co Cię czeka dalej &#129473; °˖✧◝(⁰▿⁰)◜✧˖°</h1>
  <div id="myButton"> <button class="hidebtn btn btn-sm btn-primary" onclick="closeNav()">&#x2190;</button> </div>
</div>

{% endblock %}
{% block content2 %}

  <div class="giftcontainer">
    <div class="gift">
        <input type="checkbox" id="click" onclick="showMessage()">
      <label for="click" class="click"></label>
      <div class="suprise">A secret message&#128516;</div>
    </div>
  </div>

  <div class="love-card center-me" id="love-card">
    <h1>&#10084;</h1>
  </div>
{% endblock %}