{% extends "base.html" %}
{% block title %}Walentynki{% endblock %}
{% block content %}
<div class="px-3 py-4 my-4 text-center" >
    <img class="d-block mx-auto mb-4" src="{{url_for('static',filename='images/heart_logo.png')}}" alt="heart" width="100" >
    <h1 class="display-5 fw-bold text-body-emphasis">Czy będziesz moją walentynką?</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Prosimy mieć na uwadze że deweloper tej strony jest początkującym programistą oraz o tym, że zależy mu na
          szczerych!
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="{{url_for('date')}}">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" role="link" id="YesButton" onclick="YesFunc()" >Tak</button>
          </a>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4" role="link" id="NoButton" onclick="NoFunc()" >Nie</button>
      </div>
    </div>
  </div>
<div class="px-3 video d-block mx-auto mb-3" id="video"></div>
<div id="music"></div>

<script>
    function YesFunc(){
    // show happy GIF and play music
      document.getElementById('video').innerHTML = "<img src='https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMHllNmpjZDgzcjEwNHFlYXB6cmFjNW94MGU3Mnc4cXpxazRtcmlubSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/8QbwUh40Hl96yMgvOx/giphy.gif'>";

      document.getElementById('music').innerHTML = "<audio src='{{url_for('static',filename='music/careless_whispers.mp3')}}' autoplay volume='0.5'><p>If you are reading this, it is because your browser does not support the audio element.     </p></audio>";
      document.getElementById('NoButton').style.display='none';
    };

    function NoFunc(){
      // show sad GIF and play music
      document.getElementById('video').innerHTML = "<img src='https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbXpsZm54NHNsd3V4aDZxeDM4dDJncGp3OGRrcjM2NGdwa3V2cWVzdCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/98MaHVwJOmWMz4cz1K/giphy.gif'>"

      document.getElementById('music').innerHTML = "<audio src='{{url_for('static',filename='music/sad_hamster.mp3')}}' autoplay volume='0.5'><p>If you are reading this, it is because your browser does not support the audio element.     </p></audio>";
 
      
    };

</script>
{% endblock %}